@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

*{
    font-family: "Shrikhand", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #113C20;
    width: 100%;
    min-height: 100vh;
}
.lo{
    letter-spacing: 3px;
}
nav{
    background-color: white;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    padding: 0 10px;
}

nav h2{
    color: #06ae66;
    letter-spacing: 2px;
    margin-left: 10px;
}

nav a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

nav a:hover{
    color: #06ae66;
    border-bottom: 3px solid black;
}

.he{
    color: #06ae66;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

form{
    background-color: rgba(16, 120, 20, 0.3);
    width: 30%;
    min-width: 280px;
    max-width: 500px;
    padding: 25px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

form h2{
    color: #06ae66;
    margin-bottom: 15px;
}

form label{
    color: white;
    text-align: left;
    margin-top: 10px;
}

/* INPUTS */
form input,
form textarea{
    width: 100%;
    padding: 8px 10px;
    margin-top: 5px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
}

form textarea{
    min-height: 100px;
    resize: none;
}

/* BUTTON */
form button{
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #06ae66;
    color: white;
    cursor: pointer;
}

form button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

/* TABLET */
@media (min-width: 630px) and (max-width: 992px){
    nav{
        font-size: 18px;
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
    }

    form{
        width: 70%;
    }
}

/* MOBILE */
@media (max-width: 630px){
    nav{
        flex-direction: column;
        height: auto;
        padding: 10px;
        font-size: 18px;
    }

    form{
        width: 90%;
    }
}