@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
*{
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}
body{
    background-color: #113C20;
    height: max-content;
    width: 100%;
    margin: 0 0 0 0;
    min-height: 100vh;
}
nav{
    background-color: white;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
}
.he{
    color: #06ae66;
}
nav h2{
    display: inline;
    color: #06ae66;
    letter-spacing: 2px;
    margin-left: 15px;
}
nav a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
}
nav a:hover{
    color: #06ae66;
    border-bottom: solid black 3px;
}
.main{
    width: 100%;
    display: flex;
    margin-top: 20px;
}
.content{
    width: 40%;
    height: 100%;
    margin-left: 20px;
    text-align: center;
    font-size: 40px;
    color: white;
}
.content h2,.content p{
    display: inline;
}
.content b{
    color: #06ae66;
}
.content button{
    font-size: 30px;
    border-radius: 30px;
    color: #06ae66;
    cursor: pointer;
}

.i{
    width: 60%;
    height: 100%;
    margin-right: 20px;
}
.i img{
    margin-left: 150px;
    width: 80%;
    margin-top:auto ;
    margin-bottom: auto;
}
.au{
    text-align: center;
    color: white;
}
button:hover{
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3); 
}
@media (min-width: 620px) and (max-width: 992px){
  nav {
    font-size: 18px;
    flex-wrap: wrap;
    height: auto;
    padding: 10px;
  }

  .main {
    flex-direction: column;
    align-items: center;
  }

  .content {
    width: 80%;
    font-size: 30px;
    margin: 0;
  }

  .i {
    width: 80%;
    margin: 20px 0;
  }

  .i img {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
@media (max-width:620px) {
    nav{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: max-content;
        
    }
    nav h2{
        margin-top: 0;
        margin-bottom: 0px;
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    .content{
        flex-direction: column;
        width: 90%;
        margin-top: 0;
        height: max-content;
        margin-left: 0;
        font-size: 30px;
    }
    .i{
        height: max-content;
    }
    .i img{
        margin-top: 10px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}





